.details-container {
    padding:60px;
    background-color: rgb(178, 170, 165);
    color:white;
    width :60%;
    margin: 5% auto;
    height: 22%;
    border-radius: 15px;
    font-size: 1.2em;
    margin-top: 11%;
}

.container-favorites {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}




