
.favorite-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-template-rows: auto;
  gap: 22px;
  margin-top: 12%;
}


h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  text-align: center;
}


