.gridColumns {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 550px);
    gap:40px;
    justify-content: center; */
    /* margin-top: 3em; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-container {
    
    margin-top: 20vh;
    width: 100% ;

}

