.details-container {
    padding:10px;
    background-color: rgba(209, 105, 53, 0.568);
    color:white;
    width :50%;
    margin: 10px auto;
    height: auto;
    border-radius: 15px;
}

.container-favorites {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}