.register {
    padding:10px;
    background-color: rgba(209, 105, 53, 0.568);
    color:white;
    width :20%;
    margin: 10px auto;
    border-radius: 15px;
}

input {
    margin:5px;
    border-radius: 8px;
    width: 80%
}