.userCard-container {
    font-size: 2em;
    padding:10px;
    background-color: rgba(209, 105, 53, 0.568);
    color:white;
    width :70%;
    margin: 10px auto;
    height: auto;
    border-radius: 15px;
}

.container-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}