.navbar {
  text-align: center;
  padding: 50px 0;
  color: white;
  background-color: #333;
  position: fixed;
  top: 0;
  height: 20vh;
  width: 100%;
}

.logout-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button-container {
  width: 90%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.button-container h3 {
  margin: 0 1.5em;
  color: white;
  height: 1.5em;
}

.button-hover{
  width: 120px;
}

.button-hover :hover {
  background-color: #d62631;
  max-width: max-content;
  border-radius: 7px;
}

.container-title h1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 3em;
  margin-left: 5em;
  font-style: oblique;
}

.link {
  color: aliceblue;
  text-decoration: none;
}
