.dropdown-container-filters {
    position: relative;
   
  
  }
  
  .dropdown-container-filters ul {
      border-radius: 7px;
      background-color:  rgb(161, 103, 80);
      position:absolute;
      max-height: 0px;
      overflow: hidden;
      transition: all 1s;
  }
  
  .dropdown-container-filters:hover ul {
      color:white;
      max-height: 500px;
  }
  
  li {
      
      padding: 5px;
      margin: 20px;
  }

  input {
    margin-bottom: 30px;
  }