.dropdown-container {
  position: relative;
  /* background-color:  #D62631; */
}

.dropdown-container ul {
  border-radius: 7px;
  background-color:  #D62631;
  position:absolute;
  max-height: 0px;
  overflow: hidden;
  transition: all 1s;
}

.dropdown-container h3:hover {
  background-color: #D62631;

}

.dropdown-container:hover ul {
  color: white;
  max-height: 400px;
 
}




.link {
  text-decoration: none;
  
}

.dropdown-container h3:hover{
  background-color:#D62631;
}